/*
Blue color: #204C70;
Tan color: #D8B4A0;
Cream color:#EFF1F3;
Grey color:#DBD3D8;
Orange color:#D77A61;

h1 font-family: 'Julius Sans One', sans-serif;
h2 font-family: 'Archivo Narrow', sans-serif;
p font-family: 'Source Sans Pro', sans-serif;
*/

h1 {
  font-family: 'Julius Sans One', sans-serif;
  color: #204C70;
  font-weight: bold;
}

h2 {
  font-family: 'Archivo Narrow', sans-serif;
  color: #D8B4A0;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #204C70;
}

/*COVER*/

.cover {
  background-color:#EFF1F3;
  height: 100vh;
  width: 100vw;
  position: fixed;
  text-align: center;
  overflow: hidden;
  z-index: 1000;
}

.titles-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cover h1 {
  font-size: 100px;
}

.cover h2 {
  font-size: 60px;
}

.icon_class {
  color:#DBD3D8;
  font-size: 100px;
}

.bottom-icons, .top-icons {
  margin: 10px;
}

.down-arrow {
  font-size: 50px;
  color:#D77A61;
}

.down-arrow:hover {
  color: #D8B4A0;
}

/*ASIDE*/

aside {
  position: fixed;
  background-color: #204C70;
  text-align: right;
  height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px 0 0;
}

aside li {
  list-style: none;
  font-size:4vw;
}

aside a, aside a:link, aside a:visited {
  font-family: 'Archivo Narrow', sans-serif;
  color: #D8B4A0;
  text-decoration: none;
  transition: color 0.5s;

}

aside a:hover {
  color:#D77A61;
  text-decoration: none;
}

aside a:active {
  color: #D77A61;
}

aside h1 {
  color:#D77A61;
  position: fixed;
  top: 20px;
  text-align: center;
  width: 20vw;
  font-size: 5vw;
}
/*PROJECTS*/

body {
  background-color: #DBD3D8;
}

article {
  margin: 0 0 0 20vw;
  padding: 20px;
}

.row {
  width: 100%;
  margin: 0;
}

/*PANEL*/

.panel {
  padding: 20px;
  background: #EFF1F3;
}

.panel p, li{
  font-size: 120%;
}

.panel h2 {
  font-size: 55px;
}

.panel .sub-header {
  font-size: 30px;
}

.panel ul li {
  color: #204C70;
}

.live-site {
  display: flex;
  justify-content: center;
  padding: 8px 30%;
  background-color: #D77A61;
  border-radius: 5px;
  color: #EFF1F3;
  transition: background-color 0.5s;
  font-family: 'Source Sans Pro', sans-serif;
}

.live-site:visited, .live-site:link {
  background-color: #D77A61;
  color: #EFF1F3;
  text-decoration: none;
}

.live-site:hover {
  background-color: #204C70;
  color: #DBD3D8;
  text-decoration: none;
}

.col-md-4 {
  padding: .9375rem;
}

/*ABOUT*/

.avatar {
  width: 100%;
  border-radius: 50%;
  border: 15px solid #D77A61;
}

.about-card {

}

.about-card h1 {
  font-size: 600%;
}

.about-card p {
  font-size: 150%;
  padding: 10px;
}

.container {
  background: #EFF1F3;
}

th {
  font-family: 'Archivo Narrow', sans-serif;
  color: #D8B4A0;
  font-size: 200%;
}

td {
  font-family: 'Source Sans Pro', sans-serif;
  color: #204C70;
  font-size: 150%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #DBD3D8;
}

.col-md-6 {
  padding: .9375rem;
}
