<div class="row container">
  <div class="col-lg-6">
    <div class="about-card">
      <h1>Hello,</h1>
      <p>I'm a full stack developer. I recently graduated from Galvanize code school. I have a insatiable love for code and complex problems. I have honed my skills creating complex Angular sites, Node and Express APIs, and Ionic apps.</p>
      <h2>MY SKILLS</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>FRONT</th>
            <th>BACK</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Angular</td>
            <td>NodeJS</td>
          </tr>
          <tr>
            <td>Ionic</td>
            <td>Express</td>
          </tr>
          <tr>
            <td>SCSS</td>
            <td>Postgres</td>
          </tr>
          <tr>
            <td>Gulp</td>
            <td>Knex</td>
          </tr>
          <tr>
            <td>Firebase</td>
            <td>Heroku</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="picture-card">
    <div class="avatar-shadow">
      <img class="avatar" src="images/Nate.jpg" alt="">
    </div>
    <a target="_blank" href="/images/NathanR.pdf">Get my résumé</a>
    </div>
  </div>
</div>
