<div class="row container">
  <div class="col-lg-6">
    <div class="about-card">
      <h1>Hello,</h1>
      <p>I'm a full stack developer. I recently graduated from Galvanize code school. I have a insatiable love for code and complex problems. I have honed my skills creating complex Angular sites, Node and Express APIs, and Ionic apps.</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Front End</th>
            <th>Back End</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Angular</td>
            <td>NodeJs</td>
          </tr>
          <tr>
            <td>Ionic</td>
            <td>Express</td>
          </tr>
          <tr>
            <td>SCSS</td>
            <td>Postgres</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-6 ">
    <img class="avatar" src="images/Nate.jpg" alt="">
  </div>
</div>
