<header>
  <h1 class="initials">NR</h1>
  <div class="berger" ng-click="vm.menu = !vm.menu">
    <ul>
      <li class="bar"></li>
      <li class="bar"></li>
      <li class="bar"></li>
    </ul>
  </div>
  <nav ng-hide="vm.menu" class="animate-show-menu">
    <ul>
      <li><a href="" ui-sref="projects" ng-click="vm.menu = !vm.menu">Projects</a></li>
      <li><a href="" ui-sref="about" ng-click="vm.menu = !vm.menu">About</a></li>
      <li><a href="" ui-sref="contact" ng-click="vm.menu = !vm.menu">Contact</a></li>
    </ul>
  </nav>
</header>
