<div class="row">
  <div class="col-lg-4">
    <div class="panel">
      <h2>PARADIDDLE</h2>
      <p>Paradiddle is an app for drummers to fine tune their concept of time. The app establishes
        a set tempo  to compare the user’s strokes with perfect time. A real time graph gives a visual representation of how able the user is at keeping time.
      </p>
      <h2 class="sub-header">TECH</h2>
      <ul>
        <li>Web Audio API</li>
        <li>ChartJS</li>
        <li>AngularJS</li>
        <li>Canvas</li>
      </ul>
      <div class="row">
        <div class="col-sm-6 row-links">
          <a href="https://paradiddle-8e8de.firebaseapp.com" class="live-site">Live Site</a>
        </div>
        <div class="col-sm-6 row-links">
          <a href="https://github.com/NathanReginato/Paradiddle" class="live-site">Github</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel">
      <h2>SET</h2>
      <p>SET is a card game of quick recognition and deduction. Each card contains one of three symbols (squiggles, diamonds, ovals) in varying numbers (up to three), colors (purple, green, red), and degrees of shading. A dealer arranges 12 cards, face up, and the players--without taking turns--hastily scrutinize the images for logical "sets" of three cards linked by combinations of sameness or difference.</p>
      <h2 class="sub-header">TECH</h2>
      <ul>
        <li>Javascript</li>
        <li>JQuery</li>
        <li>RequireJS</li>
        <li>SCSS</li>
        <li>Bootstrap</li>
      </ul>
      <div class="row">
        <div class="col-sm-6 row-links">
          <a href="https://set-nathan-reginato.firebaseapp.com/" class="live-site">Live Site</a>
        </div>
        <div class="col-sm-6 row-links">
          <a href="https://github.com/NathanReginato/Set" class="live-site">Github</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel">
      <h2>GRASP</h2>
      <p>Grasp is a tool for teachers that gages the understanding of any audience. Students who have the grasp app can join lectures and give real time feedback to the lecturer. Student understanding is manifested as a live updating graph on the teachers page. Use this app to better understand your students understanding.</p>
      <h2 class="sub-header">TECH</h2>
      <ul>
        <li>Ionic</li>
        <li>Socket.io</li>
        <li>AngularJs</li>
        <li>Postgres</li>
        <li>Express</li>
        <li>Gulp</li>
      </ul>
      <div class="row">
        <div class="col-sm-6 row-links">
          <a href="https://grasp-app.firebaseapp.com/" class="live-site">Live Site</a>
        </div>
        <div class="col-sm-6 row-links">
          <a href="https://github.com/NathanReginato/grasp" class="live-site">Github</a>
        </div>
      </div>
    </div>
  </div>

</div>
