<div class="row">
  <div class="col-md-4">
    <div class="panel">
      <h2>SET</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <h2 class="sub-header">TECH</h2>
      <ul>
        <li>Tech</li>
        <li>Tech</li>
        <li>Tech</li>
      </ul>
        <a href="" class="live-site">Live Site</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel">
      <h2>SET</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <h2 class="sub-header">TECH</h2>
      <ul>
        <li>Tech</li>
        <li>Tech</li>
        <li>Tech</li>
      </ul>
        <a href="" class="live-site">Live Site</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel">
      <h2>SET</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <h2 class="sub-header">TECH</h2>
      <ul>
        <li>Tech</li>
        <li>Tech</li>
        <li>Tech</li>
      </ul>
        <a href="" class="live-site">Live Site</a>
    </div>
  </div>
</div>
